

  .form-s{
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-width: 350px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #ffffff;
    color: #ffffff;
    border: 30px solid #ffffff; 
    box-shadow: 2px 3px 15px rgb(138, 166, 244);
  }
  
  .title-s {
    font-size: 33px;
    font-weight: 600px;
    letter-spacing: -1px; 
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: royalblue;
    margin-top: -10px;
  }
  
  .title-s::before {
    width: 18px;
    height: 18px;
  }
  
  
  .title-s::after {
    width: 18px;
    height: 18px; 
    animation: pulse 2.2s ease infinite;
  }
   
  .title-s::before,
  .title-s::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 70%;
    left: 0px;
    background-color: rgb(134, 176, 239);
  }
  
  @keyframes pulse {
    from {
      transform: scale(5);
      opacity: 0.6;
    }
  
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  .message-s {
    font-size: 16px;
    color: rgba(77, 103, 233, 0.863);
    margin-top: -30px;
  }
  
  
  
  .signin-s {
    text-align: center;
    font-size: 17px;
    color: rgb(187, 72, 111);
    margin-top: -10px;
    margin-bottom: -8px;
  }
  
  
  .signin-s a {
    color: rgba(90, 23, 134, 0.863);
    font-size: 19px;
    text-decoration:none;
    text-align: center;
  } 
  
  .signin-s a:hover {
    text-decoration: underline rgba(90, 23, 134, 0.863);
    color: rgba(90, 23, 134, 0.863);
  }
  .signin-s a:focus{
    background-color:none;
  }
  
  
  @keyframes btn-anim1 {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
  }
  
  .submit-s {
    position: relative;
    overflow: hidden;
    top: -10px;
  }
  
  .submit-s span::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
    animation: btn-anim1 2.6s linear infinite;
  }
  
  
  .flex-s {
    display: flex;
    width: 100%;
    gap: 15px;
  }
  
  .form-s label {
    position: relative;
  }
  
  .form-s label .input-s {
    background-color: #ffffff;
    color: #010101;
    width: 100%;
    padding: 25px 05px 05px 10px;
    outline:0;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgb(194, 207, 243);
  }
  .form-s label .input-s + span {
    color: rgba(77, 91, 78, 0.5);
    position: absolute;
    left: 30px;
    top: 9px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    background-color: white;
  }
  
  .form-s label .input-s:placeholder-shown + span {
    top: 12.5px;
    left: 11px;
    font-size: 0.9em;
  }
  
  .form-s label .input-s:focus + span,
  .form-s label .input-s:valid + span {
    top: -10px;
    font-size: 1em; 
    font-weight: 600px;
  }
  .input-s {
    font-size: medium;
  }
  
  .submit-s {
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #008cff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  .submit-s:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }
  
  
  .input-s:focus, input-s:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }
  
  .input-s:focus ~ label, input-s:valid ~ label {
    transform: translateY(-70%) scale(0.8);
    background-color: #e8e8e8;
    padding: 0.2em;
    color: #2196f3;
   }
  
  .form-s label .input-s:valid + span {
    color: green;
  }
  
  .signin-s:hover a{
    text-decoration: none;
  }
  